<!DOCTYPE html>
<html style="overflow:hidden; height:100%">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body style="overflow:hidden; height:100%">
    @RenderBody()
</body>
</html>